a {
  text-decoration: none;
  color: inherit;
}

header {
  position: fixed;
  width: 100%;
  height: 70px;
  background-color: #fff;
}

.header__container {
  width: 90%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

.header__logo {
  margin-top: 15px;
}

.header__logo img {
  width: 100%;
  height: 100%;
}

.header__menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  height: 100%;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  color: #636363;
}

.menu__wrapper {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  padding-top: 70px;
  top: 0;
  right: -1000px;
  width: 250px;
  height: 100vh;
  overflow: scroll;
  z-index: 10;
}

.menu__item {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu__item p {
  display: inline-block;
  padding-right: 15px;
  text-align: left;
  position: relative;
  z-index: 2;
}

.menu__item p.open + img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.menu__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__footer a {
  width: 200px;
  text-align: center;
  vertical-align: center;
  padding: 10px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  margin-bottom: 5px;
}

.menu__footer a:last-child {
  border: 2px grey solid;
}

.menu__footer a:last-child:hover {
  border: 2px black solid;
}

.menu__background {
  display: none;
}

.menu__background.active {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
}

.menu__wrapper.active {
  right: 0;
}

.menu__burger {
  width: 30px;
  position: fixed;
  cursor: pointer;
  z-index: 10;
}

.sublist {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility 0s, opacity 0.5s linear, max-height 0.25s ease-out;
  transition: visibility 0s, opacity 0.5s linear, max-height 0.25s ease-out;
}

.sublist__item {
  margin-bottom: 15px;
  list-style: none;
}

.sublist__item:last-child {
  margin-bottom: 0;
}

.sublist.open {
  visibility: visible;
  opacity: 1;
  max-height: 500px;
}

@media (min-width: 767px) {
  .header__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .menu__wrapper {
    position: relative;
    width: 100%;
    padding: 0;
    height: 70px;
    margin: 0;
    right: auto;
    top: auto;
    background-color: transparent;
    overflow: hidden;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .menu__list li {
    margin-right: 15px;
  }
  .menu__list li:last-child {
    margin-right: 0;
  }
  .menu__item {
    position: relative;
  }
  .menu__item p:hover {
    color: #000;
  }
  .menu__footer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: auto;
  }
  .menu__footer a {
    width: 100px;
    padding: 5px 15px;
    margin: 0;
  }
  .menu__footer p.open {
    margin-top: 100px;
  }
  .menu__burger {
    display: none;
  }
  .menu__background.active {
    background-color: transparent;
  }
  .sublist {
    position: fixed;
    background-color: #fff;
    padding: 10px 0 10px 25px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 10px -2px #000;
            box-shadow: 0 0 10px -2px #000;
  }
  a:hover {
    color: #000;
  }
}
/*# sourceMappingURL=header-mobile.module.css.map */