a{
    text-decoration: none;
    color: inherit;
}

header{
    position: fixed;
    width: 100%;
    height: 70px;
    background-color: #fff;
}
.header{
    &__container{
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 auto;
    }
    &__logo{
        margin-top: 15px;
        img{
            width: 100%;
            height: 100%;
        }
    }
    &__menu{
        position: relative;
        display: flex;
        justify-content: end;
        height: 100%;
        width: 100%;
        align-items: center;
        cursor: pointer;
        color: #636363;
    }
}
.menu{
    &__wrapper{
        position: fixed;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        padding-top: 70px;
        top: 0;
        right: -1000px;
        width: 250px;
        height: 100vh;
        overflow: scroll;
        z-index: 10;
    }
    &__item{
        list-style: none;
        margin: 0;
        padding: 0;
        p {
            display: inline-block;
            padding-right: 15px;
            text-align: left;
            position: relative;
            z-index: 2;
            &.open + img{
                transform: rotate(180deg);
            }
        }
    }
    &__footer{
        display: flex;
        align-items: center;
        flex-direction: column;
        a{
            width: 200px;
            text-align: center;
            vertical-align: center;
            padding: 10px 25px;
            box-sizing: border-box;
            border-radius: 10px;
            margin-bottom: 5px;
        }
        a:last-child{
            border: 2px grey solid;
            &:hover {
            border: 2px black solid;
            }
        }
    }
    &__background{
        display: none;
    }
    &__background.active{
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 5;
        background-color: rgba($color: #000000, $alpha: 0.5);
    }
    &__wrapper.active{
        right: 0;
    }
    &__burger{
        width: 30px;
        position: fixed;
        cursor: pointer;
        z-index: 10;
    }
}
.sublist{
    max-height: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear, max-height 0.25s ease-out;
    &__item{
        margin-bottom: 15px;
        list-style: none;
        &:last-child{
            margin-bottom: 0;
        }
    }
    &.open{
        visibility: visible;
        opacity: 1;
        max-height: 500px;
    }
}

@media (min-width: 767px) {
    .header{
        &__container{
            justify-content: flex-start;
        }
    }
    .menu{
        &__wrapper{
            position: relative;
            width: 100%;
            padding: 0;
            height: 70px;
            margin: 0;
            right: auto;
            top: auto;
            background-color: transparent;
            overflow: hidden;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
        }
        &__list{
            display: flex;
            flex-direction: row;
            li{
                margin-right: 15px;
            }
            li:last-child{
                margin-right: 0;
            }
        }
        &__item{
            position: relative;
            p:hover{
                color: #000;
            }
        }
        &__footer{
            flex-direction: row;
            margin-left: auto;
            a {
                width: 100px;
                padding: 5px 15px;
                margin: 0;
            }
            p.open{
                margin-top: 100px;
            }
        }
        &__burger{
            display: none;
        }
        &__background.active{
            background-color: transparent;
        }
    }
    .sublist{
        position: fixed;
        background-color: #fff;
        padding: 10px 0 10px 25px;
        border-radius: 5px;
        box-shadow: 0 0 10px -2px #000;
    }
    a:hover{
        color: #000;
    }
}